/** general tags override **/
body {
  color: $main-color;
  font-size: $main-font-size;
}

a {
  color: $anchor-color;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
  margin: $elements-spacing 0;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}

hr {
  margin: 0;
  border-top: 1px solid $border-color;
}

dl {
  margin-bottom: 0;
}

/** bootstrap specific classes override **/
.bg-blue {
  background-color: $bg-dark;
}

.btn-primary {
  background-color: $bg-dark;
  border-color: #0a3a48;
  border-width: 0 0 2px 0;
}

.btn-secondary {
  background-color: $btn-secondary-bg-color;
  border-color: $border-color;
  color: $anchor-color;
}

.btn-info {
  background: white;
  border: 1px solid $border-color;
  color: inherit;
  &.right-icons {
    &:before {
      background: none;
      border-left: 1px solid $border-color;
    }
  }
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.1em 0.5em;
}

/** our custom UI classes **/
.search-form {
  .input-group-addon {
    background: white;
    border: none;
  }
  .form-control {
    border: none;
  }
}

.right-icons {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 40px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: $btn-addon-bg-color;
    border-radius: 0 .25rem .25rem 0;
  }
  .fa {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  .breadcrumb-item {
    &.starter {
      &:before {
        content: '';
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item {
  a {
    padding-right: 15px;
  }
  &:before {
    content: '>';
  }
}

.estate-paginator {
  margin-right: 1em;
}

.social-links {
  font-size: 0.8em;
  .nav-item {
    &:first-child {
      .nav-link {
        border-right: 0;
        border-radius: 0.25rem 0 0 0.25rem;
      }
    }
    &:last-child {
      .nav-link {
        border-left: 0;
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }
  .nav-link {
    border: 1px solid $border-color;
    border-radius: 0;
    padding: 5px;
    color: gray;
  }
}

.stroke-title {
  text-align: center;
  font-size: 0.8em;
  color: $border-color;
  text-transform: uppercase;
  padding-top: 2px;
  strong {
    display: inline-block;
    background: white;
    padding: 2px 20px;
  }
  &:after {
    content: '';
    border-bottom: 1px solid $border-color;
    display: block;
    margin-top: -10px;
  }
}

.spacing-normal {
  margin-bottom: $elements-spacing;
  .container > .row {
    padding: $elements-spacing 0;
  }
}

.section-photos {
  figure {
    position: relative;
    margin: 0;
    padding: 0;
    img {
      position: relative;
    }
    figcaption {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      font-weight: bold;
      color: white;
      text-align: center;
      background: rgba(100, 100, 100, 0.6);
      padding-top: 25%;
    }
  }
  hr {
    margin-top: $elements-spacing * 2;
  }
}

.section-offer-details {
  .description {
    margin: $elements-spacing 0;
  }
  .specifications {
    dl {
      margin: 0;
    }
    dt, dd {
      padding: 10px 0;
      border-bottom: 1px solid $border-color;
      margin-bottom: 0;
    }
    dt {
      font-weight: normal;
    }
    dd {
      font-weight: bold;
    }
  }
  dl.unstyled {
    margin: 1em 0;
    dd, dt {
      font-weight: normal;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.estate-offer {
  border: 1px solid $border-color;
  margin: $estate-card-spacing 0;
  .properties {
    padding: $estate-card-spacing ($estate-card-spacing * 2);
    p {
      margin: $estate-card-spacing $estate-card-spacing;
      strong {
        display: block;
        color: lightgray;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
}

.estate-contact {
  border: 1px solid lightgray;
  padding: $elements-spacing;
  height: 100%;
}

.dark-footer {
  padding: 10px 0;
  background: #464e51;
  color: white;
  h4 {
    font-size: 1em;
    margin: 10px 0;
    padding: 0;
  }
  ul {
    font-size: 0.85em;
  }
  a {
    color: #8f8f8f;
  }
}

#google_map {
  height: 500px;
  width: 100%;
}

.copyright-footer {
  border-top: 1px solid #8f8f8f;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}