/** variables **/
$main-color:             #333333; // main body color
$bg-dark:                #305e9c; // dark background for navbar
$btn-secondary-bg-color: #ffffff; // overwrite secondary button background
$btn-addon-bg-color:     #02412e; // background color of the right icon inside buttons
$anchor-color:           #4b95b7; // overwrite link color
$border-color:           #d4d5da; // defined a general border color

$elements-spacing:       20px; // general spacing between most elements
$main-font-size:         14px; // base font size. bootstrap uses 16px by default
$estate-card-spacing:    5px;  // padding/margin for estate cards